@import url('https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');

@import url('https://fonts.googleapis.com/css?family=Mrs+Saint+Delafield');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

@import "../node_modules/font-awesome/css/font-awesome.css";

a
{
    color: #fff;
}

html
{
    height: 100%;
}

body
{
    position: relative;

    min-height: 100%;

    background-color: #f9f9fb;
}

.pseudoheader
{
    position: absolute;

    width: 100%;
    height: 345px;

    background-color: #212429;
}


.wrapper
{
    position: relative;

    width: 1530px;
    margin: 0 auto;
}

header
{
    display: flex;

    height: 55px;

    background-color: #212429;

    justify-content: space-between;
    align-items: center;
}

h1
{
    display:none;
}

.icon
{
    padding: 0 18px 0 20px;
}

.icon:hover
{
    color: #999;
}

.btn-menu
{
    font-size: 23px;

    display: flex;

    height: 100%;

    color: #fff;
    border: solid 1px #3c3c3c;
    border-width: 0 1px;

    justify-content: center;
    align-items: center;
}

.logo
{
    display: flex;

    height: 100%;
    margin-left: 277px;

    align-items: center;
}

.logo span
{
    font: 600 22.15px 'Hind';

    margin-top: 5px;
    margin-left: 7.5px;

    letter-spacing: 4.5px;
    text-transform: uppercase;

    color: #fefefe;
}

header .social
{
    height: 100%;
}

header .social ul
{
    height: 100%;
}

header .social ul li
{
    display: inline-block;

    height: 100%;

    border-left: solid 1px #3c3c3c;
}



header .social ul li:last-child
{
    border-right: solid 1px #3c3c3c;
}

header .social ul li a
{
    font-size: 15px;

    display: flex;

    height: 100%;

    color: #fff;

    align-items: center;
    justify-content: center;
}

main
{
    min-height: 100%;
    padding-bottom: 412px;

    background: #f9f9fb;
}

.slider
{
    position: relative;

    height: 580px;
}

.slider .caption
{
    position: absolute;
    top: 0;

    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100%;

    color: #fff;

    align-items: center;
    justify-content: space-between;
}

.slider .caption .content
{
    flex-direction: column;
}

.slider .caption .content h2
{
    font: 600 18px 'Hind', sans-serif;
    line-height: 24px;

    margin-top: 11px;
    margin-bottom: 14px;
    margin-left: 98.5px;

    letter-spacing: .2em;
}

.slider .caption .content h3
{
    font: bold 40px 'Hind', sans-serif;
    line-height: 50px;

    margin-left: 97.5px;

    letter-spacing: .14em;
    text-transform: uppercase;
}

.navigation
{
    display: flex;
    flex-direction: column;

    margin-right: -65px;

    transform: rotate(-90deg);

    align-items: center;
}

.indicators
{
    display: flex;
    flex-direction: row;

    margin-bottom: 16px;
}

.indicators .active
{
    background-color: rgba(255,255,255,.5);
}

.indicator
{
    display: block;

    box-sizing: border-box;
    width: 8px;
    height: 8px;
    margin: 0 5px;

    border: solid 1px #fff;
}

.indicator:hover
{
    background-color: rgba(255,255,255,.5);
}

.arrows
{
    display: flex;

    align-items: center;
}

.arrows a
{
    font-size: 27px;

    margin-top: -5px;

    color: #fff;
}

.arrows a:hover
{
    color: #999;
}

.arrows span
{
    font: 600 14px 'Hind', sans-serif;

    margin: 0 12px;

    letter-spacing: .2em;
    text-transform: uppercase;
}

form
{
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 100px;

    border-bottom: solid 1px #f3f3f3;
    background-color: #f7f7f7;

    align-items: center;
}

form .caption
{
    font: bold 20px 'Montserrat', sans-serif;
    line-height: 28px;

    width: 200px;
    margin-left: 30px;

    letter-spacing: .2em;
    text-transform: uppercase;

    color: #212121;
}

form input
{
    font: 300 15px 'Hind', sans-serif;
    line-height: 28px;

    width: 450px;
    height: 50px;
    margin-left: 30px;
    padding-top: 8px;
    padding-left: 29px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #a7a7a7;
    border: solid 1px #f3f3f3;
}

form input:focus
{
    border: solid 1px #ccc;
    outline: none;
}

form input.submit
{
    font: 400 14px 'Hind', sans-serif;
    line-height: 24px;

    width: 282px;
    padding-left: 0;

    letter-spacing: .2em;

    color: #fff;
    background-color: #212121;
}

form input.submit:hover
{
    font-weight: 600;

    cursor: pointer;

    color: #212121;
    border-color: #212121;
    background-color: #f7f7f7;
}

main section.content
{
    display: flex;
    flex-direction: row;

    padding: 77px 0 60px;

    justify-content: space-between;
}

.column
{
    font-size: 0;
    line-height: 24px;

    display: flex;
    flex-direction: column;

    width: 360px;
    height: 100%;
    margin: 0;
    padding: 0;

    justify-content: space-between;
}

main .content .content-item
{
    position: relative;

    font-size: 14px;

    width: 100%;

    border: solid 1px #f1f1f3;
    background: #fff;
}

main .content .content-item:hover
{
    box-shadow: 0 0 20px #dadadc;
}

.post-1,
.post-2,
.post-7
{
    margin-bottom: 29px;
}

main .content .content-item .main
{
    padding: 0 30px;

    text-align: center;
}

main .content .content-item .main:hover button
{
    color: #999;
}

.content-item .hashtag
{
    font-size: 14px;

    position: absolute;
    top: -18px;
    left: 160px;

    width: 40px;
    height: 35px;
    margin: 0 auto;

    color: #fff;
    border: solid 1px #f6f6f8;
    background-color: #212121;
}

main .content .content-item .theme,
main .content .content-item .date
{
    font: 400 14px 'Hind', sans-serif;
    line-height: 24px;

    display: block;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #999;
}

main .content .content-item .theme
{
    margin-top: 51px;
}

main .content .content-item .date
{
    margin-top: 7px;
}

main .content .content-item h4
{
    font: bold 20px 'Montserrat', sans-serif;
    line-height: 28px;

    margin-top: 4px;

    letter-spacing: .06em;
    text-transform: uppercase;

    color: #212121;
}

main .content .content-item .inner
{
    font: 300 15px 'Hind', sans-serif;
    line-height: 28px;

    margin-top: 14px;

    letter-spacing: .095em;
}

main .content .content-item button
{
    font: 500 14px 'Hind', sans-serif;

    width: 126px;
    height: 30px;
    margin: 30px 0 41px;

    letter-spacing: .2em;
    text-transform: uppercase;

    color: #212121;
    border: solid 1px #d7d7d7;
    border-width: 0 1px;
    outline: none;
    background: none;
}

main .content .column .content-item button:hover
{
    color: #212121;
}

main .content .content-item button:active span
{
    padding: 8px 0;

    border: solid 1px #d7d7d7;
    border-width: 1px 0;
}

main .content .content-item button:active
{
    color: #999;
    border: none;
}

main .content .content-item .social
{
    display: flex;
    flex-direction: row;

    height: 59px;
    padding: 0 20px 0 10px;

    color: #999;
    border-top: solid 1px #f7f7f7;

    align-items: center;
    justify-content: space-between;
}

main .content .content-item .social .comments
{
    font: 400 14px 'Hind', sans-serif;
    line-height: 24px;

    padding: 0 10px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #999;
}

main .content .content-item .social .comments:hover
{
    color: #65a3cb;
}

main .content .content-item .social .comments:hover i
{
    color: #65a3cb;
}



main .content .content-item .social i
{
    padding: 20px 8px;

    color: #464646;
    font-size: 15px;
}

main .content .content-item .social i:hover
{
    color: #65a3cb;
}

main .content .type-2
{
    height: 513px;
}

main .content .post-3
{
    background: url(../img/skater.png) no-repeat bottom;
    background-size: 101%;
}

main .content .post-3 .theme, main .content .post-6 .theme
{
    margin-top: 35px;
}

main .content .content-item .image
{
    font-size: 0;
    line-height: 0;

    width: 100%;
    height: 255px;

    background: #f4f4f4;
}

main .content .column .type-3 .hashtag
{
    top: 237px;
}

.post-4, .post-11
{
    margin-bottom: 46px;
}

main .content .type-4
{
    border-color: #333;
    background: #212429;
}

main .content .type-4:hover
{
    box-shadow: 0 0 20px #333;
}

main .content .type-4 .inner
{
    font-size: 17px;

    margin-top: 52px;

    color: #fff;
}

main .content .type-4 .name
{
    font: 400 14px 'Hind', sans-serif;

    display: block;

    margin: 25px 0 30px;

    letter-spacing: .1em;
    text-transform: uppercase;

    color: #999;
}

main .content .column .type-4 div.hashtag
{
    color: #212429;
    background: #fff;
}

.post-5
{
    margin-bottom: 45px;
}

main .content .post-6 .social
{
    margin-top: 31px;
}

main .content .post-8 .image div
{
    display: inline-block;

    width: 177.77px;
    height: 126px;
    margin: 0 2px 2px 0;

    background: #fff;
}

main .content .post-8 .image div:nth-child(2n)
{
    margin-right: 0;
}

.post-8, .post-12
{
    margin-bottom: 47px;
}

.post-9
{
    height: 175px;
    margin-bottom: 50px;
}

main .content .column .post-9 a
{
    text-decoration: underline;
}

main .content .column .post-9 a:hover
{
    text-decoration: none;

    color: #999;
}

.post-9 .main
{
    display: flex;

    justify-content: center;
    align-items: baseline;
}

.post-10
{
    height: 287px;
}

.post-13
{
    height: 452px;
}

.post-13 div.round
{
    display: inline-block;

    width: 135px;
    height: 135px;
    margin-top: 20px;

    border-radius: 67px;
    background: #999;
}

footer
{
    position: absolute;
    bottom: 0;

    min-width: 100%;
    height: 412px;

    letter-spacing: .09em;

    color: #f9f9fb;
    background-color: #212429;
}

footer .wrapper
{
    top: 0;

    display: flex;
    flex-direction: row;

    height: 100%;
    padding-bottom: 41px;

    justify-content: space-between;
}

footer .column
{
    padding: 60px 0;
}

footer .column h5
{
    font: bold 16px 'Montserrat', sans-serif;

    margin-top: -4px;

    letter-spacing: .06em;
    text-transform: uppercase;
}

footer .column .content
{
    line-height: 0;

    width: 100%;
    height: 207px;
}

footer .column p
{
    font: 300 15px 'Hind', sans-serif;
    line-height: 28px;

    margin-bottom: 4px;
}

footer .about .sign
{
    font: normal 36.05px 'Mrs Saint Delafield', cursive;

    position: relative;

    width: 100%;
    height: 147px;

    letter-spacing: .012em;

    background-color: #3a3c49;
}

footer .column .sign span
{
    position: absolute;
    right: 18px;
    bottom: 7px;

    transform: rotate(-9deg);
}

footer .column .twitts
{
    font: 300 14px 'Hind', sans-serif;

    margin-bottom: 24px;
    padding-left: 22px;
}

footer .column.twitter .login
{
    font: 300 14px 'Hind', sans-serif;
    line-height: 28px;

    display: inline-block;

    letter-spacing: .092em;
}

footer .column .twitts a:hover
{
    color: #1da1f2;
}

footer .column .twitts:before
{
    font-family: FontAwesome;

    margin-left: -22px;

    content: '\f099';
}

p.twit {
    margin-top: 2px;
}

footer .instagram .content
{
    height: 200px;

    letter-spacing: 0;
}

footer .instagram a
{
    display: inline-block;

    width: 118.6px;
    height: 98px;
    margin: 0 2px 2px 0;

    background: #fff;
}

footer .instagram a:hover
{
    background: url(../img/icons/zoom.png) no-repeat center rgba(255, 255, 255, 0.8);
    background-size: 100%;
}

footer .instagram a:nth-child(3n)
{
    margin: 0 0 2px 0;
}

footer .comments
{
    font: 300 14px 'Open Sans', sans-serif;
    line-height: 24px;

    letter-spacing: .1em;
}

footer .comments .login
{
    display:inline-block;

    margin-bottom: 11px;
}

footer .comments .comment
{
    line-height: 24px;

    padding: 23px 0 18px 0;

    border-top: solid 1px #ddd;
}

footer .comments .comment:first-child
{
    padding-top: 0;

    border: none;
}

footer .comments .content .comment p
{
    line-height: 23px;
}

footer .comments .content .comment a:hover
{
    color: #999;
}

footer footer
{
    font: 300 14px 'Hind', sans-serif;
    line-height: 41px;

    width: 100%;
    height: 41px;

    text-align: center;
    letter-spacing: .1em;
    text-transform: uppercase;

    color: #747577;
    background: #17191c;
}

footer footer a
{
    color: #747577;
}

footer footer a:before
{
    margin: 0 12px;

    content: 'i';
}